body {
    margin: auto;
    text-align: center;
    background-image: url(../background.gif);
}

.container {
    border-radius: 20px;
    margin-top: 30px;
    background-color: rgba(104, 99, 126, 0.616);
    display: inline-block
}

h1 {
    font-size: 40px;
    color: rgb(227, 231, 14);
    /* color: rgba(12, 219, 12, 0.664); */
}

.information {
    margin: auto;
    margin-top: 30px;
    font-size: 20px;
    margin-bottom: 20px;
}

.clockContainer {
    background-color: rgba(255, 255, 255, 0.247);
    font-size: 20px;
    margin-bottom: 10px;
    /* color: ; */
}

.smiley {
    font-size: 25px;
    padding-left: 80px;
    padding-right: 90px;
}

.lives {
    font-size: 15px;
}

.safeClick {
    font-size: 20px;
    background-color: rgba(0, 0, 255, 0.658);
    border-radius: 10px;
    padding: 2px;
    margin-bottom: 5px;
    display: inline-block
}

.board {
    border-radius: 30%;
    background-color: rgba(4, 199, 248, 0.404);
    margin: auto;
    padding: 50px;
    text-align: center;
}

.cell {
    background-color: gray;
    border: 0.2px solid;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 1.5em;
}

.beginner {
    background-color: cornflowerblue;
    font-size: 20px;
    border-radius: 10px;
    margin-left: 20px;
}

.medium {
    background-color: cornflowerblue;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
}

.expert {
    background-color: cornflowerblue;
    font-size: 20px;
    border-radius: 10px;
    margin-right: 20px;
}